p{
    font-size:16px;
}
.selectors{
    padding: 48px 24px 0 24px;
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    gap:16px;
    box-sizing: border-box;
}

.title{
    font-size:14px;
    font-weight:600;
    letter-spacing:  .00714em;
    margin:0 !important;
}
.selectors p{
    text-align:left;
    width:100%;
    margin:0 !important;
}

.dropdown{
    width:100%;
}
.dropdown button{
    border:2px solid #d9d9d9;
}

.dropdown button.show{
    border:2px solid #8BCC00;
}

.dropdown .dropdown-toggle:hover{
    border:2px solid #8BCC00;
}


.dropdown button.dropdown-toggle{
    width:100%;
    height:56px;
    display: flex;
    align-content:center;
    justify-content:space-between;
    align-items:center;
    /* border: */
}

.dropdown-menu{
    width:100%;
    padding:0;
    box-sizing: border-box;
}

.dropdown-value{
    display:flex;
    gap:8px;
    align-content: center;
    align-items: center;
}
.dropdown-value img{
    width:56px;
    height:auto;
}
.dropdown-value p{
    margin:0 !important;
    font-size:14px;
}

button.dropdown-item{
    border:none;
    height: 40px;
    font-size: 14px;
}

.dropdown-item.active-dropdown:hover{
    background-color: rgba(139, 204, 0,0.1);
}

.fw-bold{
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 14px;
}

.target-selectors{
    gap:16px;
    width:100%;
    font-size: 14px;
}

.target-selectors .btns{
    width:100%;
    height:56px;
    margin:0 !important;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding:0 8px;
}
.target-selectors .css-ahj2mt-MuiTypography-root{
    font-size: 14px;
}
.target-selectors .btns:hover{
    background-color:rgb(240,240,240);
}

hr{
    width: 100%;
    color:#424242;
}

.subdropdown{
    height:40px !important;
}