.page{
    height:100vh;
    width:100vw;
    box-sizing:border-box;
    display:grid;
    grid-template-rows: 80px auto;
    font-family:'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.flex-center{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center
}
.page header{
    
    width:100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display:flex;
    justify-content: space-between;
    align-content:center;
    align-items:center;
    padding:0 16px;
    box-sizing: border-box;
}

.logos{
    
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    align-items: center;
}

.logos img{
    height:40px;
    width:auto;
}

.logos #small-img{
    height:28px;
}

.routes{
    width:fit-content;
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 16px;
}

.routes button{
    background-color: inherit;
    border:none;
    /* font-family: 'Montserrat'; */
    font-weight:bold;
    font-size:14px;
    color: #424242;
    padding:0 16px;
    box-sizing:border-box;
}

.routes button:hover{
    background-color:rgb(230,230,230);
}

.routes button#active{
    border-bottom: 2px solid #8BCC00;
    color:#8BCC00;
}



.user{
    height:40px;
    width:40px;
    background-color: #33691e;
    border-radius:50%;
    color:white;
    font-weight: bold;
}


.page section{
    width:100vw;
    display:grid;
    grid-template-columns: 250px auto;
}

section .sidenav{
    background-color:rgb(239,241,242);
    display:grid;
    grid-template-rows:48px 48px 48px 48px;
    justify-content: center;
    row-gap: 16px;
    padding-top:64px;
    box-sizing: border-box;
}

.sidenav button{
    height:48px;
    width:220px;
    display:grid;
    grid-template-columns: 24px auto;
    column-gap: 24px;;
    align-items: center;
    align-content: center;
    font-size: 16px;
    font-weight:600;
    border:none;
    padding:8px 16px;
    border-radius: 10px;
    color:#424242;
    box-sizing: border-box;
}
.sidenav button:hover{
    background-color: rgb(230,230,230);
}
button.active{
    color:white;
    background-color: #8BCC00;
}
button.active:hover{
    color:white;
    background-color: #8BCC00;
}
.sidenav button .icon{
    font-size: 24px;
}
.sidenav button p{
    margin:0 !important;
    text-align:left;
    font-weight:600;
    font-size: 14px;
    letter-spacing: 0.3px;
}



section .dash{
    display:grid;
    grid-template-columns: 350px auto;
}