.App {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
}


.form {
  /* border:1px solid #494949; */
  height: fit-content;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.PageTitle{
  width:100%;
}
.formholder {
  padding: 32px;
  color: #303030;
  font-family: 'Poppins';
  width:100%;
  height:auto;
  box-sizing: border-box;
}

.formholder p{
  font-size:14px;
}

.formholder h4{
  font-size: 16px;
  font-weight:700;
  margin-bottom: 12px !important;
}

form {
  box-sizing: border-box;
  font-family:'Inter';
}


form label {
  font-size: 14px;
  margin-bottom:10px;
}


select {
  box-sizing: border-box;
  margin-bottom: 16px;
  height: 40px;
  border: 2px solid #ddd;
  width: 100%;
  border-radius: 10px;
  padding: 0 16px 0 16px;
  font-family: 'Inter';
}

select:focus{
  border:2px solid #ddd;
}

select:active{
  border:2px solid #ddd;
}

input{
  margin-bottom:16px;
}

.buttonholder{
  width:100%;
  text-align: center;
}

.buttonholder button{
  background-color:#8bcc00;
  color:white;
  width:150px;
  height:40px;
  border:none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 10px;
}